<div class="container-fluid">
  <div class="row">
    <div class="col mx-auto bg-dark">
      <div id="map"></div>
    </div>
    <div class="bg-secondary">
      <a
        class="btn btn-light mx-auto"
        data-toggle="collapse"
        data-target="#sidemenu"
        aria-expanded="false"
        aria-controls="sidemenu"
      >
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <div class="col-md-4 collapse width bg-secondary" id="sidemenu">
      <div class="">
        This is some placeholder content for a horizontal collapse. It's hidden
        by default and shown when triggered.
      </div>
    </div>
  </div>
</div>
