<header class="container-fluid">
  <div class="row">
    <div class="col bg-image">
      <div class="row">
        <div class="col-md-6 mx-auto"></div>
      </div>
    </div>
  </div>
</header>

<main class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>PCS</h2>
      </div>
      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac
            turpis egestas maecenas pharetra convallis posuere morbi leo.
            Vulputate eu scelerisque felis imperdiet proin. Dapibus ultrices in
            iaculis nunc. Malesuada fames ac turpis egestas integer eget
            aliquet. Interdum velit euismod in pellentesque massa placerat.
          </p>
        </div>
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Fames ac
            turpis egestas maecenas pharetra convallis posuere morbi leo.
            Vulputate eu scelerisque felis imperdiet proin. Dapibus ultrices in
            iaculis nunc. Malesuada fames ac turpis egestas integer eget
            aliquet. Interdum velit euismod in pellentesque massa placerat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>PCS SANTOS</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="img-fluid" src="" alt="" />
            <div class="card-body">
              <h3 class="card-title">Opção 1</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Fames ac turpis egestas maecenas pharetra convallis posuere
                morbi leo.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="img-fluid" src="" alt="" />
            <div class="card-body">
              <h3 class="card-title">Opção 1</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Fames ac turpis egestas maecenas pharetra convallis posuere
                morbi leo.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="img-fluid" src="" alt="" />
            <div class="card-body">
              <h3 class="card-title">Opção 1</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Fames ac turpis egestas maecenas pharetra convallis posuere
                morbi leo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>Pitch</h2>
      </div>

      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>Desenvolvedores</h2>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</main>

<footer class="container-fluid"></footer>
